.theme_dark {
  --header-bg: #000;
  --header-border-color: #000;
  --content-bg: #111;
  --weather-card-shadow: 2px 2px 4px 0 rgb(0 0 0 / 40%);
  --weather-card-bg: #000;
  --weather-card-footer-bg: #0d0d0d;
  --weather-card-color: #b4b4b4;
  --weather-card-title-color: #fe7e17;
  --weather-card-title-border-color: #000;
  --weather-card-detail-title-color: #fe7e17;
  --weather-card-detail-content-color: #737C84;
  --btn-border-color: #111;
  --btn-bg: #111;
  --btn-text-color: #737C84;
  --btn-hover-bg-color: #0d0d0d;
}
