.theme_day {
  --header-bg: #fff;
  --header-border-color: #ebebeb;
  --content-bg: #f1f1f1;
  --weather-card-shadow: 2px 2px 4px 0 rgb(51 51 51 / 10%);
  --weather-card-bg: #fff;
  --weather-card-footer-bg: #f1f1f180;
  --weather-card-color: #b4b4b4;
  --weather-card-title-color: #737C84;
  --weather-card-title-border-color: #ebebeb;
  --weather-card-detail-title-color: #b4b4b4;
  --weather-card-detail-content-color: #737C84;
  --btn-border-color: #737C84;
  --btn-bg: #fff;
  --btn-text-color: #737C84;
  --btn-hover-bg-color: #f1f1f1;
}
